<h4>hello</h4>

<% @order.each do |item| %>
  <tr>
    <% if item.status == "Placed" %>
      <td>Order id :<%= item.id %>, </td>
      <td>User id : <%= item.user_id %>, </td>
      <td>Total : <%= item.total %>, </td>
      <td>Status : <%= item.status %> </td>
      <%= link_to '<button class="Menu-button" type="button">Delivered</button>'.html_safe, order_path(item), method: :delete,:onclick => "alert('Are U sure')" %>
    <% else %>
      <% item.destroy %>
    <% end %>
  </tr>
  <br/>
<% end %>
