<section class="MenuSection">
  <div class="MenuSectionTitle">
    <p class="MenuSectionTitle-text"><%= section_title%></p>
  </div>

  <ul>
    <% if menus.empty? %>
      <p class="MenuItem MenuItem-NotAvilable">Not Available</p>
    <% else %>
      <% menus.each do |menu|%>
        <li class="MenuItem">
          <div class="MenuItem-container">
            <label >
              <p class="MenuItem-text">
                <span class="AlignLeft"> <%= menu.name %> </span>
                <span class="AlignRight"> Rs <%= menu.price %> </span>
              </p>

              <p class="MenuItemDescription-text">
                <tr>
                  <td><%= menu.description%></td>
                  <td>
                    <% if @current_user.is_customer? %>
                      <%= form_for @orderfood do |form| %>
                        <%= form.hidden_field :menu_id, :value => menu.id %>
                        <%= form.number_field :quantity, :value => 1, :min => 1 %>
                        <%= form.submit "Add to Cart" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </p>

              <% if @current_user.is_clerk? || @current_user.is_owner? %>
                <%= link_to '<button class="Menu-button" type="button">Delete</button>'.html_safe, menu_path(menu.id), method: :delete,:onclick => "alert('Are U sure')" %>
              <% end %>
            </label>
          </div>

        </li>
      <% end %>
    <% end %>
  </ul>
</section>
