<section class="MenuSection">
  <div class="MenuSectionTitle">
    <p class="MenuSectionTitle-text"><%= section_title%></p>
  </div>

  <ul>
    <% if menus.empty? %>
      <p class="MenuItem MenuItem-NotAvilable">Not Available</p>
    <% else %>
      <% menus.each do |menu|%>
        <li class="MenuItem">
          <div class="MenuItem-container">
            <label>

              <p class="MenuItem-text">
                <% if @current_user.is_clerk? || @current_user.is_owner? %>
                  <%= link_to menu.name, menu_path(menu.id) %>
                <% else %>
                  <span class="AlignLeft"> <%= menu.name %> </span>
                <% end %>
                <span class="AlignRight"> Rs <%= menu.price %> </span>
              </p>

              <p class="MenuItemDescription-text">
                <%= menu.description%>
                <p class="MenuButtom-owner">
                  <% if @current_user.is_clerk? || @current_user.is_owner? %>
                    <%= link_to '<img src="trash.svg" class=AlignRight">'.html_safe, menu_path(menu.id), method: :delete,:onclick => "alert('Are you sure')" %>
                  <% end %>
                </p>
              </p>
              <p class="MenuAddToCard">
                <% if @current_user.is_customer? %>
                  <%= form_for @order_food do |form| %>
                    <%= form.hidden_field :menu_id, :value => menu.id %>
                    <%= form.number_field :quantity,class: "AddMenu-text",placeholder: "Add quantity", :min => 1 %>
                    <%= form.submit "Add to Cart", :class => "Menu-button" %>
                  <% end %>
                <% end %>
              </p>




            </label>

          </div>

        </li>
      <% end %>
    <% end %>
  </ul>
</section>
