<main>
  <article>
    <h1 class="MenuPage-title">Cafeteria Management</h1>

    <% if @current_user.is_clerk? || @current_user.is_owner? %>
      <%= render partial: "add-menu-section", locals: {
        section_title: "Edit Menu Here"
      } %>
    <% end %>

    <%= render partial: "menus-section", locals: {
      section_title: "Breakfast",
      menus: Menu.breakfast
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Lunch",
      menus: Menu.lunch
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Dinner",
      menus: Menu.dinner
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Beverages",
      menus: Menu.beverages
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Snacks",
      menus: Menu.snacks
    } %>


    <%= link_to "#{current_order.orderfoods.size} items with a value of #{current_order.total}", new_card_path%>
    <%= link_to '<button class="DeleteMenu-button" type="button">New Post</button>'.html_safe, new_card_path%>


  </article>
</main>
