<main>
  <article>
    <h1 class="MenuPage-title">Cafeteria Management

    <% if @current_user.is_clerk? || @current_user.is_owner? %>
      <%= link_to '<button class="AddMenu-button AlignRight" type="button">Add Menu</button>'.html_safe, new_menu_path %></h1>
    <% end %>

    <%= render partial: "menus-section", locals: {
      section_title: "Breakfast",
      menus: Menu.breakfast
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Lunch",
      menus: Menu.lunch
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Dinner",
      menus: Menu.dinner
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Beverages",
      menus: Menu.beverages
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Snacks",
      menus: Menu.snacks
    } %>

    <% if @current_user.is_customer? %>
      <%= link_to '<button class="AddMenu-button AlignRight" type="button">View card</button>'.html_safe, new_card_path%>
    <% end%>

    <% if @current_user.is_clerk? || @current_user.is_owner? %>
       <%= link_to '<button class="AddMenu-button AlignRight" type="button">All Orders</button>'.html_safe, new_allorder_path%>
    <% end%>

  </article>
</main>
