<main>
  <article>
    <section class="MenuPage-title">
      <% if @current_user.is_clerk? || @current_user.is_owner? %>
        <%= link_to '<button class="AddMenu-button AlignRight" type="button">Add Menu</button>'.html_safe, new_menu_path %>
      <% end %>
      <% if @current_user.is_owner? %>
        <%= link_to '<button class="AddMenu-button AlignLeft" type="button">Clerks Detail</button>'.html_safe, clerk_path %>
      <% end %>
      <% if @current_user.is_customer? %>
        <p class="AlignRight"><%= current_order.total_order %></p>
        <%= link_to '<img src="carts.svg" class="AlignRight">'.html_safe, new_card_path%>
      <% end%>
      <h1>Cafeteria Management</h1>
    </section>

    <%= render partial: "menus-section", locals: {
      section_title: "Breakfast",
      menus: Menu.breakfast
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Lunch",
      menus: Menu.lunch
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Dinner",
      menus: Menu.dinner
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Beverages",
      menus: Menu.beverages
    } %>

    <%= render partial: "menus-section", locals: {
      section_title: "Snacks",
      menus: Menu.snacks
    } %>

    <% if @current_user.is_clerk? || @current_user.is_owner? %>
       <%= link_to '<button class="AddMenu-button AlignRight" type="button">All Orders</button>'.html_safe, new_allorder_path%>
    <% end%>

  </article>
</main>
