<section class="OrderFood-main">
    <% @orderfoods.each do |item| %>

        <section class="OrderFood-list">
            <p>Name : <%= item.menu.name %></p>
            <p>Price : <%= item.menu.price %></p>
            <p>Quantity : <%= item.quantity %></p>
            <p>Subtotal : <%= item.subtotal %></p>

            <%= link_to '<button class="Add-button" type="button">Remove</button>'.html_safe, orderfood_path(item), method: :delete %>
        </section>
        <br>

    <% end %>

    <p class="OrderFood-result">Your current card value has a total of: <%= current_order.total %></p>
    <p>
        <% if Order.where(:id => current_order.id).exists? %>
            <%= link_to '<button class="Add-button" type="button">Place Order</button>'.html_safe, order_path(current_order.id), method: :put,:onclick => "alert('Order Placed, will be delivered shortly')" %>
        <% else %>
            <p class="OrderFood-result">please add values to card</p>
        <% end %>
    </p>

</section>
